h1 {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}

.posts {
  list-style-type: none;
  padding-left: 0;
}

header {
  text-align: center;
}

.post {
  width: 60%;
  margin: 0 auto;
}

.navbar-links {
  text-decoration: underline;
  color: black;
}

#navbar li {
  display: inline;
  padding: 8%;
}
#navbar li a {
  text-decoration: none;
}

#navbar {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.column-heading {
  text-align: left;
}

#home {
  margin: 0 auto;
  width: 60%;
}

.column {
  float: left;
  width: 33.33%;
 }

 .row:after {
   content: "";
   display: table;
   clear: both;
 }



/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }
