h1 {
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}

h2 {
  font-size: 1em;
  text-decoration: underline;
}

h3 {
  font-size: 1em;
}

.posts {
  list-style-type: none;
  padding-left: 0;
}

header {
  text-decoration: none;
  color: black;
  text-align: center;
}

.post {
  width: 60%;
  margin: 0 auto;
}

.column-heading {
  text-align: left;
}

#home {
  margin: 0 auto;
  width: 60%;
}

.column {
  float: left;
  width: 33.33%;
}

 .row:after {
   content: "";
   display: table;
   clear: both;
}

/*
.highlighter-rouge {
  padding: 5px;
  border-radius: 5px;
  background-color: #f7f7f7;
}
*/


/* Each state */

#heading > b > a { text-decoration: none; color:black; }
#heading > b > a:visited { text-decoration: none; color:black; }
#heading > b > a:hover { text-decoration: none; color:black; }
#heading > b > a:focus { text-decoration: none; color:black; }
#heading > b > a:hover, a:active { text-decoration: none; color:black }

