
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

img {
  display: block;
  margin: auto;
}

.posts {
  list-style-type: none;
  padding-left: 0;
}

header {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1em;
}

.youtube-embed {
  padding: 1em 0 1em 0;
}

.youtube-embed iframe {
  margin: 0 auto;
  background-color: white;
  width: 50%;
  display: block;
}

.filler {
  height: 100%;
}

.post {
  width: 60%;
  margin: 0 auto;
}

.column-heading {
  text-align: left;
}

#home {
  margin: 0 auto;
  width: 80%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0.3em;
}

 .row:after {
   content: "";
   display: table;
   clear: both;
}

/*
.highlighter-rouge {
  padding: 5px;
  border-radius: 5px;
  background-color: #f7f7f7;
}
*/


/* Each state */

#heading > b > a { text-decoration: none; color:black; }
#heading > b > a:visited { text-decoration: none; color:black; }
#heading > b > a:hover { text-decoration: none; color:black; }
#heading > b > a:focus { text-decoration: none; color:black; }
#heading > b > a:hover, a:active { text-decoration: none; color:black }

@media only screen and (max-width: 767px) {
  body {
    font-size: 1em;
  }

  .column{
    width: 100%;
  }
}

/* This snippet stops padding from affecting column width. */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
