<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Joon-Ho, Son, website, computing, Imperial College">
    <title>Joon-Ho Son</title>
    <!-- Computer Modern Serif -->
    <link rel="stylesheet" type="text/css" href="/res/fonts/Serif/cmun-serif.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
  </head>
  <body>
    <header>
      <p id="heading" ><b>joon.</b></p>
    </header>

      <hr width="60%">
        {{ content }}
  </body>
</html>
