<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    {% include google_analytics.html %}
    <meta charset="UTF-8">
    <meta name="keywords" content="Joon-Ho, Son, website, computing, Imperial College">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- Computer Modern Serif -->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/Serif/cmun-serif.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  </head>
  <body>
    <header>
      <p id="heading" ><b><a href="/">Joon-Ho Son</a></b></p>
      <hr width="80%">
    </header>

        {{ content }}

  </body>
</html>
